body
{
    background-size: cover;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

.copy_right_footer
{
    position: fixed;
    color: cyan;
    bottom: 0;
    width: 100%;
    background-color: darkcyan;
    line-height: 3;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 25;
}